*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #eceef1;
  margin: 0%;
  padding: 0%;
  font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.check {
  display: none;
}

.msup-sign-in-container {
  float: none;
  padding: 10px 30px 10px 30px;
  height: 60px;
  margin-top: 5px;
}

.msup-sign-in-navigation {
  box-sizing: border-box;
  float: right;
  padding: 0;
  margin: 0;
  outline: none;
}

.msup-sign-in-option {
  float: left;
  margin-left: 10px;
  text-align: right;
  font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #505050;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: #0077c5;
}

.msup-sign-in-button-container {
  float: left;
  margin-left: 10px;
  margin-top: -5px;
  text-align: right;
}

.msup-header {
  display: block;
  box-sizing: border-box;
  padding: 20px 0 20px 0;
  line-height: 18px;
}

.msup-header-company-logo {
  display: block;
  list-style: none;
  list-style-type: none;
  margin: auto;
  width: 100%;
}

.msup-logo-image {
  display: block;
  margin: 0 auto;
}

.msup-sign-in-button {
  color: white;
  background: #0077c5;
  border-radius: 4px;
  height: 34px;
  width: 105px;
  border: none;
  margin: 0;
}

form img {
  margin-bottom: -5px;
}

.msup-sign-in-button img {
  margin-bottom: -7px;
}

.msup-icons-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

fieldset {
  background: white;
  color: #505050;
  border: 1px solid #c1c5c8;
  height: 627px;
  width: 380px;
  position: relative;
  margin: 0 auto;
  border-bottom-color: #eceef1;
}

input {
  border-radius: 3px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

h2,
p {
  text-align: center;
  font-weight: 100;
  margin-top: 2px;
  text-decoration-color: #000;
}

p {
  font-size: 12px;
}

.msup-signup-useraccount {
  padding: 28px 28px 0 28px;
}

.msup-input-lock {
  box-sizing: none;
  position: absolute;
  right: 50px;
  left: 19.2em;
  top: 23.8em;
  margin-bottom: 0;
  padding: 0;
}

.btn {
  border: none;
  border-radius: 4px;
  background-color: #0077c5;
  color: white;
  font-size: 16px;
  width: 320px;
  height: 44px;
  margin-left: 7%;
  margin-top: 20px;
  cursor: pointer;
}

.msup-signup-useraccount label {
  display: block;
  font-weight: normal;
  margin: 22px 0 0 0;
  padding: 13px 0 8px 0;
  font-size: 14px;
}

.msup-signup-useraccount input {
  background: #fff;
  border: 1px solid #c6c7cc;
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #636466;
  padding: 8px;
  margin-top: 0;
  width: 100%;
  position: relative;
}

.msup-signup-useraccount h2 {
  text-align: center;
}

.msup-signup-useraccount p {
  text-align: center;
  margin: 0;
  padding: 0;
}

.Learn-more {
  font-size: 12px;
  text-align: center;
}

.msup-signup-useraccount button {
  margin: 35px 0 0 0;
  padding: 9px 0 13px 0;
}

#msup-form-base-comment {
  margin: 25px 5% 0 5%;
  padding: 5px 0 0 0;
  font-size: 12px;
  bottom: 55px;
  font-style: italic;
  color: #757575;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  line-height: 20px;
}

#phonenum {
  font-size: 10px;
  text-align: left;
  margin-top: 5px;
}

#msup-form-base-text p {
  display: block;
  width: 380px;
  position: relative;
  margin: 0 auto;
  height: 50px;
  border: 1px solid #c1c5c8;
  background-color: #eceef1;
  border-top-color: #eceef1;
  color: rgb(141, 144, 150);
  font-size: 10px;
  line-height: 18px;
  font-family: Avenir, Helvetica, Arial sans-serif;
  padding-top: 15px;
}

.msup-form-base {
  background-color: #eceef1;
  text-align: center;
  padding: 20px 0 20px 0;
  font-size: 10px;
  position: absolute;
}

.msup-footer-list {
  display: inline;
  text-align: center;
  padding-left: 0;
}

.msup-footer {
  display: inline;
}

footer {
  font-size: 12px;
  color: #505050;
  padding-bottom: 15px;
}

footer > div {
  padding-top: 25px;
  text-align: center;
}

footer > div > ul > li > a {
  margin-top: 20px;
  color: #505050;
  text-align: center;
}

@media (max-width: 780px) {
  body section nav {
    display: none;
  }
}
